.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  background: #b7ceff;
}

.loader {
  min-width: 97.8vw;
  min-height: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

/* Daily List CSS */
.type {
  margin: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.type h3 {
  margin: auto;
  padding: 10px;
  width: 250px;
  color: #2929ff;
  text-align: center;
  text-shadow: 0 5px 8px lightblue, 0 3px 6px darkblue;
  border-radius: 15px;
  box-shadow: 0 5px 8px gray, 0 3px 6px black;
  background: white;
}
.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
}

/*.movie ul {
  list-style: none;
}*/

.movie {
  margin: 2em 20px 1em;
}

.data {
  margin: 20px 5px;
  padding: 5px;
  width: 325px;
  background: #e9e9e9;
  border-radius: 15px;
  box-shadow: 0 5px 8px gray, 0 3px 6px black;
}

.data h3,
h4 {
  margin: auto;
  padding: 2px;
  display: flex;
  justify-content: left;
}
